<nb-card style="height: 81vh;">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="mb-3">
          Listado de peliculas
        </h3>
        <table class="table table-striped">
          <thead>
            <th class="text-center">Codigo</th>
            <th style="width: 270px;" class="text-center">Nombre</th>
            <th style="width: 270px;" class="text-center">Descripcion</th>
            <th style="width: 100px;" class="text-center">Sala</th>
            <th class="text-center">Imagen</th>
            <th style="width: 156px;"></th>
          </thead>
          <tbody>
            <tr *ngFor="let pelicula of listado_peliculas">
              <td class="text-center">{{ pelicula.codigo }}</td>
              <td class="text-center">{{ pelicula.nombre }}</td>
              <td>{{ pelicula.descripcion }}</td>
              <td class="text-center">{{ pelicula.sala }}</td>
              <td class="text-center">
                <img [src]="'data:image/jpg;base64,' + pelicula.imagen" style="width: 34% !important;">
              </td>
              <td>
                <button nbButton (click)="fnShowSalas(pelicula)" nbTooltip="Asignar sala" nbTooltipPlacement="top">
                  <i class="fas fa-ticket-alt"></i>
                </button>&nbsp;&nbsp;&nbsp;
                <button nbButton (click)="fnShowHorarios(pelicula)" nbTooltip="Horarios disponibles" nbTooltipPlacement="top">
                  <i class="far fa-calendar-check"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</nb-card>