<nb-card>
  <div class="container">
    <div class="row ml-2 mt-2">
      <h3>Componente a</h3>
    </div>
    <div class="row">
      <div class="col-12 m-2">
        <input nbInput [(ngModel)]="data" #groupName="ngModel" name="input_dato" autofocus type="text"
          class="form-control" placeholder="Escriba aqui" style="height: 45px; width: 87%;">
      </div>
      <div class="col-12 m-2">
        <button nbButton (click)="fnEnviar()">Enviar mensaje</button>
      </div>
    </div>
  </div>
</nb-card>
