<div class="row justify-content-center">
  <div class="col-sm-10 col-md-5 col-xs-12 align-self-center">
    <div class="mb-3 text-center">
    </div>
    <h1 id="title" class="title font_family_roboto">Iniciar sesion</h1>
    <p class="sub-title mb-0 font_family_roboto"></p>
  
    <form #form="ngForm" aria-labelledby="title">
  
      <div class="form-control-group">
        <label class="label" for="input-email">Email</label>
        <input nbInput
              fullWidth
              [(ngModel)]="user.email"
              #email="ngModel"
              name="email"
              id="input-email"
              pattern=".+@.+\..+"
              placeholder="Email"
              autofocus
              [status]="email.dirty ? (email.invalid  ? 'danger' : 'info') : ''"
              [required]="getConfigValue('forms.validation.email.required')"
              [attr.aria-invalid]="email.invalid && email.touched ? true : null">
        <ng-container *ngIf="email.invalid && email.touched">
          <p class="error-message" *ngIf="email.errors?.required">
            Email requerido
          </p>
          <p class="error-message" *ngIf="email.errors?.pattern">
            Email debe ser real
          </p>
        </ng-container>
      </div>
  
      <div class="form-control-group">
        <label class="label" for="input-password">Contraseña</label>
        <input nbInput
              fullWidth
              [(ngModel)]="user.password"
              #password="ngModel"
              name="password"
              type="password"
              id="input-password"
              placeholder="Contraseña" 
              [status]="password.dirty ? (password.invalid  ? 'danger' : 'info') : ''"
              [required]="required"
              [minlength]="minlength"
              [maxlength]="maxlength"
              [attr.aria-invalid]="aria_invalid">
        <ng-container *ngIf="password.invalid && password.touched">
          <p class="error-message" *ngIf="password.errors?.required">
            Contraseña requerida
          </p>
          <p class="error-message" *ngIf="password.errors?.minlength || password.errors?.maxlength">
            La contraseña debe contener
          </p>
        </ng-container>
      </div>
      <div class="form-control-group">
        <button nbButton status="action" style="width: 100%;" (click)="login()">Entrar</button>
      </div>
    </form>
  </div>
</div>